.DS_Store
.vs
FNA/
ImGui.NET/
PitHero/bin
PitHero/obj
PitHero/CompiledContent/bin
PitHero/CompiledContent/obj
PitHero.Tests/bin
PitHero.Tests/obj
.mgstats
imgui.ini
imgui_log.txt
fnalibs.tar.bz2

FNA
PitHero.Tests/TestResults/
test_output.txt
*.log
